{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/particles.css' %}">
    <title>MethosVeta</title>
</head>
<body>
    <div class="container">
        <img src="{% static 'images/background/car.png' %}" alt="Background" class="background">
        <div class="main">
            <div class="d1"></div>
            <div class="d2"</div>
            <div class="d3"></div>
            <div class="d4"></div>
        </div>
        <!-- <div class="overlay"></div> -->
        <!-- <div class="stars"></div> -->
        <!-- <div class="fog"></div> -->
        <div class="light-effect"></div>
        <div class="bg"></div>
        <div class="content">
            <h1 class="title">MethosVeta</h1>
            <p class="description">Let's connect with stories</p>
            <p class="details">
                Discover a platform for sharing, writing, reading, and listening to stories. 
                Join our community to explore and contribute to an ever-growing collection of tales.
            </p>
    </div>
    <script src="../static/js/3Dscript.js"></script>
</body>
</htm