body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    color: black;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #a3a3a3;
    padding: 2px;
    z-index: 1000;
    border-top: 2px solid #8f8f8f;
    color: black;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid black;
}

.username {
    font-weight: bold;
    border: 2px solid black;
    padding: 5px;
    margin-right: 20px;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    background-color: #d3d3d3;
}

.nav-item:hover {
    background-color: rgba(94, 94, 94, 0.596);
}

.nav-item img {
    margin-right: 5px;
}

.notifications {
    margin-left: auto;
    border: 2px solid black;
    padding: 5px;
    margin-right: 20px;
    background-color: #d3d3d3;
}

.notification-btn {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

main {
    padding-top: 60px;
    padding-bottom: 80px;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.cd-container {
    position: fixed;
    top: 14%;
    left: -13.5%;
    z-index: 999;
}

.cd-image {
    max-width: 350px;
    height: auto;

}

.intro-content {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    align-items: flex-start;  /* Align items to the start (left-aligned) */
    text-align: left;  /* Ensure text is left-aligned */
}

.intro-content h1 {
    margin: 10px 0;
    font-size: 3em;
    color: red;
    font-family: 'Press Start 2P', Courier, monospace;
}

.intro-content h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: white;
    font-family: 'Press Start 2P', Courier, monospace;
}

.intro-content p {
    margin: 10px 0;
    font-size: 1.2em;
    color: rgb(73, 73, 73);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.intro-image {
    display: flex;
    flex-direction: column;
    margin-left: 800px;
}

.intro-image img {
    width: 600px;
    height: auto;
}

.checkered-background {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.intro-image2 {
    display: flex;
    flex-direction: column;
    margin-left: 800px;

}

.intro-image2 img {
    width: 300px;
    height: auto;
    border-radius: 50%;
}
